html,
body{
    width:100%;
    height:100%;
}
body{
    background-color:#3e9ac8;
    
}
#content1{
    display:table;
    width:100%;
    height:200%;
}
.dark-brown {
    background-color: #ceae85;
}